[2014-12-08 04:11] nodinosaursallowed opened #2 "function syllable_count: string index out of range"
[code]
def syllable_count(self, text):
                count = 0
                vowels = 'aeiouy'
                text = text.lower().strip(".:;?!)(")
                if text == None and text != "":
                        if text[0] in vowels:
                                count += 1
                        for index in range(1, len(text)):
                                if text[index] in vow

[2015-03-09 22:32] codycollier opened #3 "compatibility issue and dictionary comprehension usage"
Thanks for making this library available and for your time.

There's a minor compatibility issue with python 2.5 and 2.6 here:
https://github.com/shivam5992/textstat/blob/master/textstat/textstat.py#L222

That line uses a dictionary comprehension, which wasn't introduced until later python versions (2.7?).  It should be a simple change:

old:
d = {x: grade.count(x) for x in grade}

new:
d = dict([

[2015-03-11 14:30] shivam5992 commented on #3
Thanks for pointing this.
I have updated this in master branch

[2015-03-11 14:30] #3 closed

[2015-09-09 02:20] Henry2012 opened #5 "file "textstat/easy_word_list" can't be found"
I used os module to specify the path of the file.

`
basepath = os.path.dirname(__file__)
os.path.join(basepath, 'easy_word_list')
`

[2015-11-13 01:41] Haythamamin commented on #5
where did you add this line?

[2015-11-13 02:55] shivam5992 commented on #5
I will fix this today

On Friday 13 November 2015, Haytham Amin <notifications@github.com> wrote:

--
Regards.
Shivam Bansal
+91-9810380015

[2015-11-13 03:07] Haythamamin commented on #5
Thank you

[2015-11-13 03:09] Haythamamin commented on #5
Also the first bug still occure if you pip install the package but it got resolved when installed the package locally. By locally I mean download source code, build and install.

[2015-11-13 03:12] shivam5992 commented on #5
I will do that too

On Friday 13 November 2015, Haytham Amin <notifications@github.com> wrote:

--
Regards.
Shivam Bansal
+91-9810380015

[2015-11-16 02:45] glamtechie opened #6 "automated_readability_index should return nan on error?"
Hi,

I was wondering if automated_readability_index should be returning nan if there is an error.

Thanks

[2015-11-17 17:43] #5 closed

[2015-11-17 17:53] #2 closed

[2015-12-02 05:51] kashev opened #7 "Python 3 Compatability"
`textstat` is not Python 3 compatible. I think the biggest problem is that it has old style print statements for errors, when these should either be new style print functions, or even better, thrown exceptions.

[2015-12-02 10:25] vinhqdang opened #8 "Reference for difficult_words function"
Hello

Could you provide the reference for difficult_words function of your library? Where do you take the formula?

Thank you very much,

[2016-02-19 21:11] wiheto opened #10 "count = count - (0.1*count)"
In syllable_count there is a "count = count - (0.1*count)" which will always make the syllable_count 10% smaller. So "Beautiful" returned 2.7. Is there a reason for this?

This function is called in polysyllabcount(), this will then only count syllables with more than 4 syllables in, which is not the definition of polysyllablecount

(I'm using python 3, I can't think of an immediate reason why thi

[2016-03-02 03:37] mjirv commented on #7
For personal purposes, I forked and made compatible with Python 3 using new print statements at https://github.com/shivam5992/textstat3.

[2016-03-16 18:49] joshash opened #11 "Keeps saying sentence count is zero..."
My code is the following:

[code]

And I keep getting this error:
[code]

[2016-04-06 19:27] stuboo commented on #11
This custom exception is replacing the normal error you would encounter in python 3.5:
`SyntaxError: Missing parentheses in call to 'print'`

To fix it, open textstat.py and put parenthesis around all of the print statements.

So, on line 85 you'll change `print "Error(ASL): Sentence Count is Zero, Cannot Divide"` to `print("Error(ASL): Sentence Count is Zero, Cannot Divide")`

More info: [http://

[2016-04-07 19:05] #11 closed

[2016-05-03 11:37] skyjur opened #15 "Exception handling"
Hello, first of all great work, and thanks for sharing your library!

I want to comment on some of the things that are related to error handling in you code. There are a couple of small issues.

1)  At very least it is important to provide `Exception` class to the `except`

[code]

If you don't provide `except Exception`, any kind of exception will be handled, including such as `KeyboardInterrupt`

[2016-05-17 15:25] Senjuti opened #16 "Flesch Reading Ease Function not working"
Here is my sample program:
import textstat

text = "The cat sat on the mat."
print textstat.flesch_reading_ease(text)

Here is the output:
AttributeError: 'module' object has no attribute 'flesch_reading_ease'

I attempted to use "flesch_reading_ease(text)" but it resulted in the output: "NameError: name ''flesch_reading_ease' is not defined"

None of the other readability functions seem to work e

[2016-06-08 14:03] memespring opened #17 "Type error if sentence is too short (flesch_reading_ease)"
[code]

The above code returns a TypeError. It should probably return None?

[2016-06-25 12:05] creedrogers commented on #10
+1

I have the same question, and am using python 2.7.11

[2016-06-25 12:23] wiheto commented on #10
Short story:

I recomend removing the 0.1, I have not seen any reason why it should be done.

Long story:

I started quantifying syllable count in a slightly different way after some research.

There are 2 methods to counting syllables from what I have seen: using dictionaries (where it is more reliable) or using some heuristic based method (which is what textstat uses).

The dictionary method is

[2016-06-25 14:01] creedrogers commented on #10
This looks great.  It might be nice to note in the documentation, or a code comment, that there is a dependency on the NLTK.  It's handled really well with the try/except block, but still.

I don't understand the check for is_digit in the primary method - could you explain that?

[2016-06-25 17:42] wiheto commented on #10
Just to be clear I have nothing to do with this textstat package. I just thought that I'd provide the  solution I came up with since you were having the same problem. And I am sorry if I wasn't clear in what I wrote above that it needs NLTK.

So after you have run the `d = cmudict.dict()`,iIf the word you look up is 'installer', you get the following back in the the cmudict.dict()

In [1]: d['inst

[2016-06-25 18:18] creedrogers commented on #10
Right, I realize that you are not the repo owner.  I figure this conversation is for everyone's benefit, including that of the repo owner.  My apologies for not being clearer.

You, on the other hand, were very clear about the dependency of the Python NLTK in your comments.  I just meant that if the syllable count algorithm changes to your idea of primary/secondary methods, then I think the offici

[2016-06-25 19:46] wiheto commented on #10
Sorry for the misunderstanding (too hot where I am).

So for completeness for anyone who wants it. Here is a slightly modified version of the functions that also excludes the try/except so people will see if they need NLTK.

[code]

[2016-08-08 08:41] shivam5992 commented on #6
Updated.

[2016-08-08 08:41] #6 closed

[2016-08-08 08:47] shivam5992 commented on #15
Thanks, I have merged your commits and updated it.

[2016-08-08 08:47] #15 closed

[2016-08-08 08:48] shivam5992 commented on #17
Updated Now Thanks

[2016-08-08 08:48] #17 closed

[2016-08-08 08:48] shivam5992 commented on #16
use ->

from textstat.textstat import textstat

instead of

import textstat

[2016-08-08 08:48] #16 closed

[2016-08-08 08:49] shivam5992 commented on #7
Thanks. Its updated now.

[2016-08-08 08:49] #7 closed

[2016-09-26 14:57] ajrader commented on #15
Nice library.
 I've noticed the same thing as @skyjur.
For example:
[code]
is an overlybroad exception and should be treated with a bit more care. Let me know if you want some more specific help on these items.

[2016-10-24 20:12] SGMcCalla commented on #7
I am not able to pip install or easy install textstat3:

Collecting textstat3
  Could not find a version that satisfies the requirement textstat3 (from versions: )
No matching distribution found for textstat3

Searching for textstat3
Reading https://pypi.python.org/simple/textstat3/
Couldn't find index page for 'textstat3' (maybe misspelled?)
Scanning index of all packages (this may take a while)

[2016-11-25 16:57] mackie-m opened #18 "trouble with difficult_words()"
The `difficult_words()` function seems not to be working properly.

In the top of `textstat.py` a txt-file is saved as a set in the variable `easy_word_set` like this:
`easy_word_set = set([ln.strip() for ln in pkg_resources.resource_stream('textstat', 'easy_words.txt')])`

The function code of `difficult_words()` is:
[code]

If i understand it right (it's late and I'm a beginner), `if value not i

[2017-05-26 01:52] YuanruiZJU opened #19 "How can I compute LIX by using functions currently provided by textstat?"
Recently, I am doing a research on readability of some text files. Thanks for your package to help me compute characteristics of readability of the text files. But one feature called "LIX" is not found from current version of textstat.

Although there are other packages that can help me compute this feature, I am a little confused about the accuracy when using different packages to compute the rea

[2017-05-26 04:17] shivam5992 commented on #19
Hi YuanruiZJU, Thanks for the suggestion of adding LIX in current version, I will add it shortly.
Thanks

[2017-05-26 12:41] shivam5992 commented on #19
Hi, Now you can compute lix using the function  "lix" .

[2017-06-07 09:33] YuanruiZJU commented on #19
Thank you for your tool. :）

[2017-06-07 09:54] YuanruiZJU opened #20 "Performance issue when computing many readability features"
Thanks for your support and your tool can really help me do my research. But I also find performance problem when I compare your tool with another tool that compute readability characteristics of text named **readability**, especially when I must compute many readability features for the same text.

The python package **readability** requires user  first call its function `analyze_text`. After doi

[2017-06-07 09:55] #19 closed

[2017-06-07 10:16] shivam5992 commented on #20
Thanks for your inputs, I will look at this.

[2017-07-09 19:19] haarburger opened #21 "Hyphenation improvement"
Hyphenation as implemented in `textstat` works okay but not very well. Is there a particular reason for not using a dictionary-based hyphenation?
 [Pyphen](http://pyphen.org) for example is based on LibreOffice dictionaries and written in pure Python.

If you'd also see this as an improvement, I can make a pull request.

[2017-07-10 04:43] shivam5992 commented on #21
Yes. this will be a good improvement. Please make a pull request. Thanks

[2017-09-19 03:17] YanTianqi opened #24 "function syllable_count returns a float value"
I find that syllable_count function returns non-integer result, and is always a multiple of 0.9
e.g. syllable_count('Hello') -> 1.8
e.g. syllable_count('how') -> 0.9
e.g. syllable_count('are') -> 0.9
e.g. syllable_count('you') -> 0.9
what does 0.9 syllable mean? shouldn't it be just 1 syllable

moreover, the syllable_count does not seem to follow the rule of summation, by calculating each word's s

[2017-10-12 03:38] #21 closed

[2017-10-16 10:32] Bramwell-Simpson opened #26 "Change return in TextStats.py"
From `def __init__(...):
           return None
`
to
`
pass
`

[2017-10-16 21:14] alxwrd commented on #18
@mackie-m I've been investigating this issue, and the issue seems to be releated to Python 3.

In Python 3: `pkg_resources.resource_stream('textstat', 'easy_words.txt')` results in the `bytes` type (`b"happy"`).

[code]
I am about to raise a pull request for this.

[2017-10-19 14:30] accessgopal opened #28 "Returing wrong values!"
_The function "flesch_reading_ease" is returning a wrong value._

As per Wikipedia ([Click Here](https://en.wikipedia.org/wiki/Flesch%E2%80%93Kincaid_readability_tests))

"The cat sat on the mat." should score 116 but, the function is returning "**124.61**"

According to Wikipedia "The highest (easiest) readability score possible is **121.22**"

I did not get a chance to evaluate the function but,

[2017-10-26 03:40] jnothman commented on #20
@YuanruiZJU You may wish to try [textacy's implementation](http://textacy.readthedocs.io/en/latest/api_reference.html#textacy.text_stats.TextStats)

[2017-11-24 13:12] alxwrd commented on #28
@accessgopal This appears to be an old issues with the function `syllable_count`. It wasn't calculating the syllable count correctly. This has been fixed in commit f3c39dd, but it hasn't been pushed to pypi yet.

**Pypi package**
[code]

**Git clone**
[code]

@shivam5992 might it be worth adding the latest changes to pypi?

[2017-11-24 13:25] shivam5992 commented on #28
@alxwrd Thanks
I will add latest changes to pypi.

[2017-11-30 02:25] YuanruiZJU commented on #20
Thank you for your reply. That is exactly what I need.

[2017-11-30 06:24] shivam5992 commented on #28
Updated to Pypi.

[2017-11-30 06:24] #28 closed

[2017-11-30 06:25] shivam5992 commented on #26
Updated. Thanks

[2017-11-30 06:25] #26 closed

[2017-11-30 06:27] shivam5992 commented on #24
This is updated. Thanks

[2017-11-30 06:27] #24 closed

[2017-11-30 06:28] shivam5992 commented on #10
This is updated in the latest code. Thanks

[2017-11-30 06:28] #10 closed

[2017-11-30 06:29] #18 closed

[2017-11-30 06:29] #20 closed

[2017-12-04 08:50] LeoPetrini opened #30 "different results between similar packages"
Hi!

I've noticed that the results between textstat and the following package https://github.com/mmautner/readability

differ quite a bit! Any idea?
Thanks!

[2017-12-04 09:36] alxwrd commented on #30
From a first look: one thing that is different that will change the results between the packages is the syllable count.

[code]

[2017-12-08 14:12] AliGolmirzaei opened #31 "difficult_words bugs like case-sensitivity and marks at the end of sentence"
def difficult_words(self, text)
extracts the words by simply splitting the text by using spaces. but this can lead to a condition that "." (or other marks) be part of a word. For example, I input a sentence with word "lives." at end of it. Although "lives" is in the easy word list, it looks it as a difficult word. Another problem regarding this dot is that it sees paperwork. and paperwork as two d

[2017-12-08 14:15] AliGolmirzaei commented on #31
I have an old regex that I created for one of my projects. Maybe it helps you
word_re = re.compile(ur'([\w--[0-9_]][\u0027\u2018\u2019\w--[0-9_]]*[\w--[0-9_]])', re.UNICODE|re.V1)
it uses the regex module

[2017-12-11 16:31] alxwrd commented on #31
@AliGolmirzaei good catch.

I would probably suggest shortening the regex to `[\w\-'‘’]+` as the 3 character sets miss out single letter words like "a".

Also after quick scan over the words in `easy_words.txt` ([most noteably with I](https://github.com/shivam5992/textstat/blob/master/textstat/easy_words.txt#L1340)) some of them are capitialised. So this list would need to be changed to all lowerc

[2018-01-17 09:21] alxwrd commented on #31
Make all words in `easy_words.txt` lowercase completed in #33.

[2018-01-17 09:55] aetherwu commented on #30
@alxwrd I had quick glance mmautner/readability. At least there are differences on tokenization process. I also found something like u'\n\n' in its tokenized words.

[2018-01-17 10:00] alxwrd commented on #30
Good shout.

@shivam5992 Maybe this issue could be closed? There are differences between [readability](https://github.com/mmautner/readability) and textstat, but nothing that textstat is doing wrong.

[2018-01-17 12:06] #30 closed

[2018-03-15 02:42] AiliAili opened #34 "Negative value of flesch_reading_ease score"
Hi,
When I use this package, I found the flesch_reading_ease score can return negative values, which does not make sense. And in the document, you also stated that it should be between 0 and 100.

The text I am dealing with is as follows.

{{Infobox settlement
|official_name =Kolibite
|native_name=
|settlement_type=Village
|image_skyline =
|image_flag =
|image_seal =
|image_map =
|mapsize =
|map_c

[2018-03-15 03:31] shivam5992 commented on #34
Have you installed the latest version of textstat ?
from where have you installed it - Github or PyPi?

[2018-03-15 05:19] AiliAili commented on #34
Thank you for your timely reply.

Yes, I installed the latest version, from github through pip install  textstat

[2018-03-15 10:17] alxwrd commented on #34
hi @AiliAili 👋

The Flesch Reading Score resulting in a negative score is perfectly valid, and the highest score is 121.22.

Source: [Wikipedia](https://en.wikipedia.org/wiki/Flesch%E2%80%93Kincaid_readability_tests#Flesch_reading_ease)

I will make a PR to add a note about this in the README.

### Higher score

[code]

### Lower score

[code]

[2018-03-15 10:26] #34 closed

[2018-03-22 05:05] #31 closed

[2018-03-26 08:32] alxwrd opened #38 "Linsear Write misses words that are 3 syllables long"
In the `linsear_write_formula` function, if a word has 3 syllables it won't be counted towards the score.

[code]

From [wikipedia](https://en.wikipedia.org/wiki/Linsear_Write):

[2018-03-27 11:15] #38 closed

[2018-03-29 15:03] shivam5992 opened #39 "default-returns in functions"
Hi @alxwrd,

Many functions are missing default returns. For example, the avg_sentence_length function returns None when the number of sentences is zero. I think we need to add default return values in these functions. For example 0.0

I believe that this is important because when someone is trying to use these package in pandas like the following and running this function for a large number of ro

[2018-04-19 06:46] DonaldTsang opened #40 "Including RIX equations"
Adding these two measurements would make textstat more feature-full.
LIX: https://github.com/mmautner/readability/blob/master/readability.py#L73
RIX: https://github.com/mmautner/readability/blob/master/readability.py#L83
Reference: https://github.com/mmautner/readability

[2018-04-19 07:10] shivam5992 commented on #40
Hi Donald, Thanks for sharing.
LIX is already implemented. But sure we will add RIX.

[2018-04-19 07:55] DonaldTsang commented on #40
Please edit the readme regarding LIX and RIX

[2018-05-03 17:38] chandlerzuo opened #42 "Different behavior between 0.3.1 and 0.4.1"
I have noticed that 0.3.1 and 0.4.1 have quite different behaviors for certain functions. The following is the comparison on flesch_reading_ease:

Version 0.3.1:
`from textstat.textstat import textstat`
`textstat.flesch_reading_ease("Python package to calculate statistics from text to determine readability, complexity and grade level of a particular corpus.")`
`>> 10.91`

Version 0.4.1:
`from text

[2018-05-03 19:07] alxwrd commented on #42
hi @chandlerzuo :wave:!

You are correct that the differences you are seeing are because of changes to textstat's syllable calculation, and other things.

I think it's fair to say the goal for textstat is to provide as accurate as possible information about a given piece of text.

Therefore, I don't think it would be suitable to support old behaviours/calculations going forward, as ultimately, som

[2018-05-04 18:55] #42 closed

[2018-05-22 04:59] 4rshdeep commented on #16
update readme

[2018-05-22 05:52] alxwrd commented on #16
hi @4rshdeep!

Sorry for any confusion, we made a change recently that means you can just do `import textstat`.

This change is not on pypi yet though.

[2018-05-30 12:25] tripleee opened #43 "Documented import does not work"
The current instructions in `README.md` say

    import textstat

However, this doesn't bring in the module.  I am presently forced to use

    from textstat.textstat import textstat

The final `textstat` is a package-global instance of the internal class `textstatistics` which is a slightly odd design.

A common solution is to encapsulate this in the package's `__init__.py`

[2018-05-30 12:51] tripleee commented on #43
Oh, my bad, I had an old version from PyPi.

[2018-05-30 12:51] #43 closed

[2018-05-30 16:48] alxwrd opened #45 "README fixes"
I've opened this issue to discuss some changes to the README following #44.

I really like the style of README found in kennethreitz projects. Examples in [maya](https://github.com/kennethreitz/maya), [requests](https://github.com/requests/requests), and my own 😊 [specsavers](https://github.com/alxwrd/specsavers).

The general style is:
[code]

@shivam5992  I'd like your thoughts on this style of

[2018-07-11 11:47] FMCumhaill commented on #43
I have the issue, how did you force install latest from PyPi? @tripleee

[2018-07-11 14:52] alxwrd commented on #43
Hi @FMCumhaill :wave:!

I think the previous comment means that @tripleee had an old version when compared to the state of the GitHub repo.  of textstat, which was obtained from pypi.

The README in the GitHub repository reflects the current development version. If you wish to install this, feel free by:

[code]

Hope this helps 🙂

[2018-07-12 01:09] mcnuttandrew opened #46 "Pip build not configured correctly?"
I'm having some trouble running the code as it is described in the documentation. I'm on python v3.6, and I've downloaded and installed textstat using pip (v10.0.1). When I run

[code]

I get an error like

[code]

I'm kinda new to python so I'd totally believe that I'm doing something wrong? But it looks like all of the methods are not correctly exported on the build that is currently available o

[2018-07-12 07:02] alxwrd commented on #46
Hi @mcnuttandrew :wave: !

The information in the README currently applies to the version in development here on GitHub.

The README at https://pypi.org/project/textstat/ shows how to use textstat using the version on pypi.

[code]

If you want to use the current development version, you can see instructions in #43.

git clone https://github.com/shivam5992/textstat.git
cd textstat
pip install .
[c

[2018-07-12 15:05] mcnuttandrew commented on #46
Hey @alxwrd

Thanks for the quick response! That solution works great for me.

It would be really helpful if you could spell out that there are different usages in the main documentation. I'd be happy to file a PR if you like.

[2018-07-12 15:46] alxwrd commented on #46
@mcnuttandrew I agree it's a bit confusing currently. The ideal fix here is a new release is made on PyPi.

@shivam5992 Could you push a new release? Or add me maintainer on PyPi? (same username https://pypi.org/user/alxwrd/)

[2018-07-16 09:17] #45 closed

[2018-07-24 08:04] #39 closed

[2018-07-24 09:20] alxwrd opened #49 "Sentence count is incorrect"
The current regex for splitting sentences doesn't work for all cases.

The `long_test` actually has 16 sentences, but the regex split is creating a list with a length of 21, and the `sentence_count` function is returning 17 after filtering out items with a word count less than 2.

The current regex needs the last `*` replacing with a look ahead for a capital letter.

### Current
`' *[\.\?!][\'"\)\

[2018-07-24 09:40] alxwrd opened #50 "Lexicon count is incorrect"
The `lexicon_count` of the `long_test` in the tests is currently incorrect. It is incorrectly counting the "..." as a word because there is a space either side.

The word count of the `long_test` should be 375, not 376.

[2018-07-25 18:19] alxwrd commented on #49
After further experiments, the expression should be `r' *[\.\?!][\'\"\)\]]*[ \n](?=[\nA-Z])'`. With the new set `[ \n]` replacing what was just a space character.

This covers the case "`This is a sentence.\nThis is also a sentence.`"

[2018-08-06 11:01] alxwrd opened #53 "No __version__"
Raised via email

[2018-08-12 08:27] #53 closed

[2018-08-12 08:31] alxwrd commented on #50
Also, with `remove_punc=True` any '&' symbols are removed and not counted. I feel like they should be counted as it represents 'and', but it also seems weird to count them when you explicitly say to ignore punctuation.

@shivam5992, do you have any thoughts?

[2018-08-27 21:28] rushdishams opened #55 "How to get the value of text_standard function?"
Hello @shivam5992 , if I would like to get the actual value from `textstat.text_standard(text)` function, how do I do that? Right now the `float_output` variable is hard-coded to `None`.

[2018-08-28 08:06] alxwrd commented on #55
hi @rushdishams!

To get the float output you would pass `True` as a keyword argument to the `text_standard` function.

[code]

[2018-08-28 14:53] rushdishams commented on #55
Hi @alxwrd ,

With the following code snippet-
`from textstat.textstat import textstat
text = 'Playing games has always been thought to be important to'
print(textstat.text_standard(text, float_output=True))`

I am getting an error:
`TypeError: text_standard() got an unexpected keyword argument 'float_output'
PS C:\pyworkspace\dummy> & C:/Anaconda3/python.exe c:/pyworkspace/dummy/simple_test.py
Tr

[2018-08-28 15:54] alxwrd commented on #55
@rushdishams  Apologies, I thought the `float_output` was in the latest version on PyPi but it appears it isn't! 😅

You can install the latest version of textstat directly from GitHub using `pip`:

[code]

I am planning on doing a proper release to PyPi soon. (#46)

[2018-08-28 20:17] alxwrd commented on #55
@rushdishams  no you're right that looks incorrect. I would expect `float_output` to return a `float`, and at the very least an `int`, but not a `str`. I will look at getting that fixed.

[2018-08-28 20:41] rushdishams commented on #55
Thanks @alxwrd , waiting to get the update from you. :)

[2018-08-29 07:02] #55 closed

[2018-10-24 11:50] srikeshav opened #58 "textstat.flesch_kincaid_grade is not working"
[code]
This is my output

[2018-10-24 13:04] alxwrd commented on #58
Hi @srikeshav !

Apologies, this has been fixed but I hadn't had a chance to update `textstat` on PyPi.

If you run:

[code]

You should get the new version I've just uploaded which fixes this issue (0.5.0).

[2018-10-24 18:34] #46 closed

[2018-10-24 18:34] #58 closed

[2018-10-28 15:02] jhpyle opened #60 "Error importing textstat"
Before, the `__init__.py` file was empty.  Now it contains `from textstat.textstat import textstat`.

I get the following:
[code]

[2018-10-28 17:17] alxwrd commented on #60
hi @jhpyle !

Thank you for reporting this! 🎉

I've just pushed an update to PyPi that should make the importing compatible with Python 2 and 3. Could you update your version of `textstat` and try again?

[2018-10-29 09:21] #60 closed

[2018-10-29 09:22] alxwrd commented on #60
@jhpyle I'm closing this for now, if you're still having issues feel free to re-open this issue :)

[2018-10-30 15:00] johnbralich3 opened #62 "Issue with Gunning Fog Calculation"
I believe is an error in the Gunning Fog Calculation. There should not be an addition of 5 to per_diff_words.

[2018-10-31 03:07] jhpyle commented on #60
Sorry, I keep forgetting to follow up.  It works for me in the new version.  Thanks!

[2018-11-11 15:35] kellymarchisio opened #63 "Extended ASCII set - UnicodeDecodeError: 'ascii' codec can't decode byte"
Many of these functions (such as `textstat.flesch_kincaid_grade`) cannot handle ascii characters outside the first 128. Even in English text, there are occasionally characters in the extended ascii set that will appear, such as the sentence 'She spent ¥130' which when run:  `textstat.flesch_kincaid_grade('She spent ¥130')` produces the error `UnicodeDecodeError: 'ascii' codec can't decode byte 0xc

[2018-11-11 15:47] kellymarchisio commented on #63
Note - I realize this issue actually originates with Pyphen not being able to handle the character. I'm also filing a bug with them, but the exception could also be handled here.

[2018-11-12 17:37] alxwrd commented on #63
hi @kellymarchisio!

Thank you for reporting this :tada:

I've checked out the issue you raised with Pyphen and I've push some changes (#64) that should sort out this issue.

If you could upgrade your textstat install with

[code]

and let me know if that works for you.

[2018-11-28 12:13] RAZelzner opened #67 "Avg letter per Word is Wrong"
Hey there,

i think there is a counting problem with the Avg letter per Word.

Code
`textstat.avg_letter_per_word("﻿thisissued percent .")`

So the result is:

I expected:

There are 17 letters and two words. So 17/2 = 8,5.
I think avg_letter... count the **first** spaces and punctuation as letters.

I tried it with the Text `"﻿thisissued          percent                ."` (Here are 10 Spaces bet

[2018-11-28 17:42] alxwrd commented on #67
hi @RAZelzner!

Your string starts with a []() BOM (byte order marker) character, which is giving you the odd result.

[2018-11-28 17:50] alxwrd commented on #67
_Sorry for the close, fat fingers on mobile_

[2018-11-28 18:03] alxwrd commented on #67
For reference: `avg_letter_per_word` uses a character count instead of a letter count. It might be worth creating 2 new methods `avg_character_per_word` and `letter_count`.

[2018-11-28 19:33] RAZelzner commented on #67
Hey @alxwrd,
thanks for your fast and far-reaching reply and for making the bug clear.

I also think that this bug has an effect to the `coleman_liau_index`.  By myself i dont use the `coleman_liau_index` to measure the readability of documents.

[2018-11-29 05:43] kellymarchisio commented on #63
Yes! It works - thanks very much :)

[2018-12-02 16:08] #67 closed

[2018-12-02 16:35] alxwrd commented on #67
@RAZelzner I've just pushed [0.5.4](https://github.com/shivam5992/textstat/releases/tag/0.5.4) to PyPi.

[2018-12-04 01:05] slavakurilyak opened #69 "Integration with Coh-Metrix"
As a developer, I want to integrate with [Coh-Metrix](https://alsl.gsu.edu/files/2014/03/Assessing-text-readability-using-cognitively-based-indices.pdf), so that I can evaluate cohesion, coherence and readability of texts.

[2018-12-08 13:30] bradfordlynch opened #70 "Incorrect Gunning Fog Calculation"
In the FOG calculation, complex words are defined as those words having 3 or more syllables. Not that Wikipedia is the best source of information, but see list item 3 [here](https://en.wikipedia.org/wiki/Gunning_fog_index#Calculation). But, as you can see in the snippet below from [_textstat.py_](https://github.com/shivam5992/textstat/blob/master/textstat/textstat.py) the threshold for a difficult

[2018-12-08 13:43] bradfordlynch commented on #70
I created a #71  for a fix to this.

[2018-12-08 16:02] MKaras93 commented on #40
Hello, first time contributor here. Can I work on implementing the RIX formula as stated in above comment?

[2018-12-08 17:41] alxwrd opened #73 "Investigate if all uses of difficult_words are correct"
As reported in #70 and fixed in #71, a difficult word is: not in the easy_word_set and more than one syllable.

This is not true for Gunning Fog, and might not be for other calculations that rely upon `difficult_words()`. Need to verify the other formulas that use `difficult_words`.

[2018-12-08 17:42] #70 closed

[2018-12-08 21:47] MKaras93 commented on #50
Should punctuation affect lexicon_count at all? Words should be words and I think it would be safer to count them after removing all punctuation, leaving only letters. It would also solve the "..." problem.

I'm not sure I understand the point of having removepunct argument in this function.

[2018-12-08 21:49] #40 closed

[2018-12-11 14:08] alxwrd commented on #50
@MKaras93 agree. I wouldn't like to remove the `remove_punc`argument though for legacy reasons. I have a fix in mind for the "..." issue.

The main thing is "the cat and the dog" is 5 words. Is "the cat & the dog" still 5 words or 4?

[2018-12-11 19:09] MKaras93 commented on #50
After some research: It seems it's totally arbitrary, different algorithms do this in different ways. MS Word, which is the most popular tool if comes to counting words, counts everything between two spaces as a word - so even "...". However, from a library designed precisely for text statistics I would expect different options to choose from.

[2018-12-17 19:16] alxwrd opened #74 "Add the new Dale-Chall readability formula"
Need to add the new Dale-Chall formula. Not sure what to call the method. Seems silly to call it `new_dale_chall_readability_score()`. 🤔

Details here: http://www.readabilityformulas.com/new-dale-chall-readability-formula.php

---

Compute the following equation:
- Raw Score = 0.1579 * (PDW) + 0.0496 * ASL
- Raw Score = Reading Grade of a reader who can comprehend your text at 3rd grade or below.

[2018-12-17 19:19] alxwrd opened #75 "Add the SPACHE readability formula for young readers"
Need to add the SPACHE readability formula for young readers.

Details here: http://www.readabilityformulas.com/spache-readability-formula.php

---

1. Select a sample text of 100-150 words from a primary grade level text.
2. Count the total number of words in the sample text.
3. Count the number of sentences in the sample text.
4. Divide the figure obtained in Step 2 by the figure obtained in Ste

[2018-12-17 20:00] alxwrd opened #76 "Reading time"
It'd be nice to be able to calculate reading time. There are a lot of articles that put adults words per minute at 200-275.

https://marketingland.com/estimated-reading-times-increase-engagement-79830
https://blog.medium.com/read-time-and-you-bc2048ab620c
http://www.craigabbott.co.uk/how-to-calculate-reading-time-like-medium

There's the possibility to just have a `textstat.reading_time(words_per_

[2019-01-12 00:24] aaroncarlfernandez opened #77 "Inaccurate results for sentence count"
**Using the following text as example**

The ARI it scores is 48 while the sentence count is only 6.

[2019-01-12 09:42] alxwrd commented on #77
hi @aaroncarlfernandez 👋

Thanks for the report. At a first look, the issue seems to be there is no space between the sentences.

[code]

I'll have a look though to see if textstat can handle this better.

[2019-01-12 14:10] aaroncarlfernandez commented on #77
Thanks alxwrd! I'll try to see what I can do too

[2019-01-13 21:23] Crista23 opened #78 "Flesch Reading Ease and Flesch Kincaid Grade Level scores"
Hi, I am getting some contradictory scores when using the Flesch Reading Ease and Flesch Kincaid Grade Level metrics as implemented in textstat. As I need to calculate them at corpus level, I am passing the entire content of the text file to these functions. I am wondering if instead I should compute them at sentence level and then average for all sentences in the file? Can you please advise which

[2019-01-14 08:35] alxwrd commented on #78
Hi @crista23 :wave:

Thank you for reporting this. Do you have the ability to share the text you're trying to analyse? If not, a small example that causes the discrepancy would be great!

[2019-01-16 11:40] alxwrd commented on #77
I've been investigating this to see what's possible. The simple fix is to update the sentence count regex to count sentences if they don't have a space between them.

[code]

The issue then shifts to cases like `'a.m.'`, `'p.m.'`, and `'t.v.'`. In the example above,

[2019-01-16 11:53] alxwrd commented on #77
Related from email:

---

[2019-01-19 15:48] aaroncarlfernandez commented on #77
Hi alxwrd!
Sorry for getting back to you late. This is what I did for temporarily, although I've just spot checked the results, so far its pretty accurate:
 `def preprocess(text):
    text = re.sub(r'[,:;()\-]', ' ', text)                    # Override commas, colons, etc to spaces/
    text = re.sub(r'[\.!?]', '.', text)                       # Change all terminators like ! and ? to "."
    text

[2019-01-20 14:16] alxwrd commented on #77
@aaroncarlfernandez Excellent, thank you :sparkles:!

It does seem to get a good sentence count some sort of initial pass is needed to normalise the text. I'll see if I can write some tests with edge cases.

[2019-01-20 16:00] alxwrd commented on #77
Some papers for "Sentence Boundary Detection".

a language-independent, unsupervised approach to sentence boundary
detection
<sub>T Kiss, J Strunk (2006)</sub>

identifying sentence boundaries in the transcriptions produced by automatic speech recognition systems
<sub>M Stevenson, R Gaizauskas (2000)</sub>

comparing three different approaches: Directly encoding the knowledge in a program, a rule-

[2019-01-20 16:32] alxwrd commented on #69
I've read the paper and it seems that Coh-Metrix is software. The source code doesn't seem to be available.

From what I can tell, this is the paper about version 1.0, but the software is currently 3.0.

AC Graesser, DS McNamara, MM Louwerse (2004)

There is an online tool available at http://tool.cohmetrix.com/.

The paper that was originally linked uses results from Coh-Metric to determine the r

[2019-02-03 21:27] russelljjarvis opened #79 "how to cite? collaborators?"
Hi, Sorry this may be the wrong place to post this message, but I created a kind of mashup technology that builds from your work:
https://github.com/russelljjarvis/ScienceAccessibility
I wonder if you know how I can meet people who would want to collaborate, and also how do I cite text-stat properly?

[2019-02-04 20:23] alxwrd commented on #79
hi @russelljjarvis :wave:!

Thank you for sharing your project!

If it's research you're hoping to publish, I'm afraid I'm not in academia myself, so I wouldn't be able to help you find collaborators. As far as I'm aware, textstat is not currently citeable. For citations, you would need to cite the source papers for any textstat functions. For example, for `textstat.flesch_reading_ease()`:

There

[2019-02-05 01:09] russelljjarvis commented on #79
Absolutely! I think this a great target journal for text-stat, and the Science Accessibility project.

[2019-02-05 02:06] russelljjarvis commented on #79
qoute: "If you're looking for open-source collaborators, I would suggest looking over [How to attract new contributors to your open source project](https://medium.freecodecamp.org/46f8b791d787) and [What should I add to readme on GitHub repo to get more open-source contributors?](https://www.quora.com/What-should-I-add-to-readme-on-GitHub-repo-to-get-more-open-source-contributors)." Thanks, I thin

[2019-02-06 16:48] shivam5992 commented on #79
Hey @alxwrd

I agree with you.

https://joss.theoj.org/ is the best place to cite.

[2019-02-06 16:55] alxwrd commented on #79
@shivam5992 Excellent. I'll go through their requirements to submit, and get textstat ready!

[2019-02-06 17:11] russelljjarvis commented on #79
I am glad you guys are going to publish textstat on JOSS. I don't think publication should exclude non-academic researchers.

I have since implemented some of the major points in the recommendations from:  [How to attract new contributors to your open source project](https://medium.freecodecamp.org/46f8b791d787) and [What should I add to readme on GitHub repo to get more open-source contributors?]

[2019-02-06 18:02] russelljjarvis opened #80 "textstat measures not easily cast to int/float."
I wonder, if its okay if I edit the textstat code so it has an attribute that is an numeric type, in order to avoid the need for performing the following operation:
https://github.com/russelljjarvis/ScienceAccessibility/blob/dev/SComplexity/t_analysis.py#L135-#L138

[code]

[2019-02-06 21:24] alxwrd commented on #80
Hey @russelljjarvis. You should be able to get the result you need by specifying the keyword augment `float_output`.

[code]

[2019-02-06 21:58] #80 closed

[2019-02-07 03:27] russelljjarvis opened #81 "Grammarly integration (label proposed feature)"
Although Grammarly is a commercial product (with a paid premium, free basic business model), its based on an [open source tool-chain.](https://github.com/grammarly)

I think the impact of textstat on scientific writing will be better if Grammarly gave live updates about the grade reading level of paragraphs. Of course, it would be better if it was a part of something like Grammarly that was comple

[2019-02-07 20:22] russelljjarvis commented on #79
Do you guys want to collaborate in one paper, where you guys can be first authors? I think I could contribute lots of plots, data, and motivations for the application of your work.

[2019-02-08 03:58] shivam5992 commented on #79
@russelljjarvis .. can you share some more details about the paper?

[2019-02-08 18:39] russelljjarvis commented on #79
Is it okay if I PM you about it at the email address associated with your GitHub account? Generally, it's about using textstat combined with sentiment analysis to evaluate the accessibility of traditional science, versus pseudoscience, and parascience (like the Wikipedia, and the quantified self writings).

[2019-02-15 23:16] russelljjarvis commented on #81
I have since found this which subserves the same function: http://www.hemingwayapp.com

[2019-02-15 23:16] #81 closed

[2019-02-25 19:21] russelljjarvis opened #82 "Post-Modern Essay Generator scores low on Standard reading level when contrasted with more sensible documents (label -philosophical problem)"
As the title of this issue suggests Post-Modern Essay Generator counter-intuitively scores low on Standard reading level compared to other sensible documents. If I have not made a mistake, and the [PMEG](http://www.elsewhere.org/pomo/) really does require a relatively [low](https://github.com/russelljjarvis/ScienceAccessibility)  reading level compared to other mainstream science articles. If this

[2019-03-20 15:15] repunzel123 opened #83 "flesch_reading_ease(test_data) does not work, even though I followed the method"
this is my code

[code]

but what I got in the screen is
[code]

I don't think my code is wrong, I saw the similar problem in a closed issues, but do not know why this happy again and how to deal with it

[2019-03-20 21:27] alxwrd commented on #83
hi @repunzel123 :wave:

Thanks for raising this.

Could you let me know what version of textstat you have installed?

[code]

You will need greater than 0.5 installed. If not, you can upgrade by

[code]

For previous versions you will need to import textstat like so:
[code]

[2019-03-21 02:58] repunzel123 commented on #83
Hi alxwrd
Thank you very much for your quick reply. I am afraid that the problem still exists. I type the "python -m pip show textstat" in CMD, but nothing come up, and I also did it on spyder, then it shows  invalid syntax. I do not know the version, but I do not think it is the old version, because when I use "from textstat.textstat import textstat" instead, the screen shows this "ModuleNotFound

[2019-03-21 10:52] alxwrd commented on #83
@repunzel123 no worries.

Can you let me know what the output of the following is:
[code]

Are you using a Python distibution (e.g. Anaconda)?

And, how did you install textstat?

[2019-03-21 13:11] repunzel123 commented on #83
Hi alxwrd
Thank you for your reply.
The output is
import textstat
print(dir(textstat))
print(textstat.__version__)
['Counter', 'Pyphen', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '__warningregistry__', 'division', 'easy_word_set', 'get_grade_suffix', 'legacy_round', 'math', 'operator', 'pkg_resources', 'print_function', 're', 'repoze'

[2019-03-21 15:16] alxwrd commented on #83
@repunzel123 I'm going to close this issue as I think it's an installation issue, and not an issue with textstat itself.

However, this doesn't mean I think _your_ issue is resolved. If you're still having issues, feel free to ask more here. ✨

[2019-03-21 15:16] #83 closed

[2019-03-21 15:27] alxwrd commented on #78
@Crista23 I'm going to close this issue for now as more information is needed.

Feel free to reopen this issue with an example ✨

[2019-03-21 15:27] #78 closed

[2019-03-21 16:33] repunzel123 opened #84 "Textstat installation issue Command "python setup.py egg_info" failed with error code 1"
I download the textstat-0.5.4.tar.gz from PYpi website and put it under the C:\Users\Liuruohan\.spyder-py3>, I try to install it on cmd, I get an error,

[code]

I am sure my setup tools are upgraded, and I also tried conda install textstat in anaconda cmd, I also tried to extract textstat file first and move it under the spyder file, but still this problem still exists
It seems a number of people

[2019-03-21 16:57] alxwrd commented on #84
@repunzel123 I've just pushed version [`0.5.5`](https://pypi.org/project/textstat/0.5.5/) to pypi.

This should hopefully address the problem you are having with the installation.

Could you please try and install this? Let me know if there are any issues.

[2019-03-21 17:26] repunzel123 commented on #84
Hi, thank you for help.
Textstat is successfully installed, thanks, but when I try to calculate gunning fog index by using the examples on pypi, the error still exists: AttributeError: module 'textstat' has no attribute 'gunning_fog'

[2019-03-21 17:44] alxwrd commented on #84
@repunzel123 Have you removed the files you manually copied over? I think somehow you're importing the `textstat.py` file, instead of importing the module.

[2019-03-22 05:26] repunzel123 commented on #84
Hi, thank you for your help. Problem solved. I did install the package, but I do not why the effective package was belong to the file of python rather than spyder. I changed the path and then it is fine. Thank you for your time

[2019-03-22 05:26] #84 closed

[2019-03-23 03:32] repunzel123 opened #85 "Question about the code correctness? PDF text extraction and readability index(gunning fog)"
Hi everyone
I am doing a readability (fog index) to a PDF (academic paper). I extract the text of PDF (all pages) and then I try to transfer the context direct into readability code. But I do not think I am correct, because the index I got is 9.69, which is too low I think. I use the example in Github, much easier one, and got 12. Can anyone help me to check the code? many thanks

[code]

#I do no

[2019-03-23 10:46] alxwrd commented on #85
hi @repunzel123

With your current code, you're overriding the value in `page_content`, not adding to it. So, I expect you are getting a score based on the last page.

[code]

[2019-03-23 13:37] repunzel123 commented on #85
Hi alxwrd
Thank you so much. I use your code and I get 21 for this academic paper, and I think it works. But just two more questions
1. for "file_content += page.extractText()" what does "+=" means? I searched the internet and found some say, it means a +=  b equals a + a =b, but I do not know how it was apply to this case.
2. If I wish to extract text from certain pages, (page 3-page 11)what adju

[2019-03-24 08:39] alxwrd commented on #85
hi @repunzel123

### 1
In Python you can add two strings together by using the `+` operator. So,
[code]
So for each iteration of the `for` loop, it is adding `page.extractText()` to what is already in `file_content`.

So with the example expanded out:

[code]

### 2

Yes I would probaly just use `range()` to get a subset of pages.

[code]

[2019-03-24 12:47] repunzel123 commented on #85
Thank you for your reply, it is very helpful!!!

[2019-03-24 12:47] #85 closed

[2019-03-26 04:04] kishiyamat commented on #76
Calculating reading time sounds by counting words sounds good. This paper might provide some insight too!

[2019-03-26 08:02] alxwrd commented on #76
@kishiyamat excellent, thank you :tada:

[2019-03-29 17:12] akarsh3007 commented on #75
If there is no one working on this, i would like to work on this.

[2019-03-30 08:11] alxwrd commented on #75
@akarsh3007 sure, go ahead!

[2019-04-05 20:40] akarsh3007 commented on #75
@alxwrd Here is my [PR](https://github.com/shivam5992/textstat/pull/87)

[2019-04-06 22:27] russelljjarvis commented on #76
I am interested in if these reading time metrics would be used to inform the text-stat `standard` reading score.

[2019-04-06 22:28] #82 closed

[2019-04-06 22:31] russelljjarvis opened #88 "text-stat standard (label documentation)."
text-stat `standard` can attain very high values ie 40 or more. Since the standard metric is probably no longer informative about reading level, do you think it makes sense to describe it as a measure of 'cognitive-load' associated with decoding the text?
See 1st plot of distributions here:
https://github.com/russelljjarvis/ScienceAccessibility

[2019-04-07 10:53] alxwrd commented on #76
hi @russelljjarvis, I would expect it to be the other way around. A higher score would mean a longer reading time.

[2019-04-08 21:42] akarsh3007 commented on #74
@alxwrd I will add a PR for this as well.

[2019-04-09 11:22] #50 closed

[2019-04-09 12:25] #75 closed

[2019-04-16 19:01] akarsh3007 commented on #74
@alxwrd  Here is the [PR](https://github.com/shivam5992/textstat/pull/90)

[2019-04-17 07:08] #74 closed

[2019-04-17 14:56] akarsh3007 commented on #76
@alxwrd do we have any plans on how are we going to implement this? I went through the links you posted, that seems straight forward. I will go over the paper's as well. Let me know if you have any plans in mind. I will start working on this after that.

[2019-04-26 22:37] TovlyDeutsch opened #91 "Inaccurate Flesch-Kincaid Grade Level"
I'm running the function `textstat.flesch_kincaid_grade` on documents and finding extremely high grade level scores. For example the attached file ("difficult.txt") is at grade level 23.7 according to `textstat.flesch_kincaid_grade` but only at 7.6 according to other tools like https://www.webfx.com/tools/read-able/check.php. The example file is attached below.

[difficult.txt](https://github.com/

[2019-04-29 09:53] alxwrd commented on #91
hi @TovlyDeutsch 👋!

Thanks for raising this issue. Have you had a look at #77? It appears to be a similar issue. Your input text is formatted in a way that textstat currently can't detect the sentence boundries.

While the issues raised previous is that there are no spaces

[code]

your text appears to have too many spaces

[code]

[2019-04-30 02:06] TovlyDeutsch commented on #91
Yeah, it does look to be a similar issue to #77. Here's NLTK's approach to sentence splitting which seems to be based on the first paper you listed in #77: https://www.nltk.org/_modules/nltk/tokenize/punkt.html#PunktSentenceTokenizer.
NLTK uses an Apache license so it may be possible to borrow liberally from that code or import it directly as a dependency (not sure if this project is avoiding intr

[2019-05-24 17:51] sairampillai opened #93 "Allow to change language in syllable_count to languages supported by Pyphen"
Currently syllable_count takes a lang argument which is set to 'en_US' by default. This can be changed to take lang argument input during function call. Pyphen allows for many language options. Some of the languages used might be effected by having a different sentence delimited other than a period but it should work for some cases and further improvement can be made.

[2019-05-25 08:54] alxwrd commented on #93
Hi @sairampillai

Thank you for raising the issue.

I'm not sure I understand. The default for `syllable_count` is "en_US", but you can change it by `syllable_count(text, lang="<other_lang>"`.

I don't know how relevent it would be to have the `lang` argument as a pass through to other methods because the readability methods are based on research that was done against the English language.

[2019-05-27 06:38] sairampillai commented on #93
I see. Thank you @alxwrd . I was thinking if the lang argument could be passed from the function flesch_kincaid_grade itself. And alongwith them update the parameters of the formula for experimental purposes. But for now I will proceed with making the changes locally.

[2019-06-24 08:41] lmaczulajtys opened #94 "Gunning FOG support for Polish language"
FOG index is also applicable for Polish language. The main difference is that in Polish, difficult words are usually 4-syllable and longer.

I suggest to add `lang` parameter to `gunning_fog` function. It will be passed to `syllable_count` and also used to select size od `syllable_threshold`.

Source:
https://pl.wikipedia.org/wiki/Indeks_czytelno%C5%9Bci_FOG (pl)
https://translate.google.com/trans

[2019-06-25 15:55] alxwrd commented on #94
I've done a bit of research and it appears there are language variants to the formulas for a few languages.

Because of that, I think the:
[code]
might not be a long term solution.

I will have a think about how textstat could handle other languages going forward. Something like:
[code]

All the current 'hardcoded' values for the formulas would need to be extracted and kept in a dict that could ha

[2019-06-25 15:56] alxwrd commented on #93
Related to #94

[2019-06-25 16:00] alxwrd commented on #91
I'm going to close this issue as a duplicate of #77.

[2019-06-25 16:00] #91 closed

[2019-06-25 16:10] alxwrd commented on #88
@russelljjarvis I don't know if it would be fair to describe the scores as a 'cognitive-load'.

If someone has a reading level of 'university' reads a text rated for small children, yes there would be very little cognitive-load. However, if a small child read the same text that's rated for them, the cognitive-load would be average.

[2019-06-25 16:10] #88 closed

[2019-06-25 16:11] alxwrd commented on #94
Based on #93, current language would also need to be passed to Pyphen.

[2019-06-25 16:12] alxwrd commented on #93
I'm going to close this in favour of keeping the more general issue.

[2019-06-25 16:12] #93 closed

[2019-06-25 16:16] alxwrd commented on #79
I'm going to close this for now. I haven't had the time to look into submitting textstat to joss. I might consider going through the process in the future.

[2019-06-25 16:16] #79 closed

[2019-06-25 16:24] alxwrd commented on #76
@akarsh3007 apologies, I think your message slipped through in my notifications! Currently, I have no plans on how to tackle this. If you have some thoughts, feel free to work on this. You can always open a draft PR where we can discuss.

[2019-06-26 03:26] russelljjarvis commented on #79
No probs. I am still actively pursing this.

[2019-06-26 11:41] lmaczulajtys commented on #94
Because methods results are cached by repoze.lru, I think we should do something like this:
[code]
We should clear caches in `setLang()`.

[2019-06-27 21:16] akarsh3007 commented on #76
@alxwrd Thanks for your reply, I will give this a thought and open a PR soon

[2019-06-28 19:42] senjed commented on #77
I don't think these metrics mean a lot out of textbook reading difficulty domain. The final values are also very dependant on the preprocessing on the input text.

[2019-06-29 19:16] lmaczulajtys commented on #94
Nice source of knowledge for `flesh_reading_ease` Yoast/YoastSEO.js#267

[2019-07-16 06:25] GuillemGSubies commented on #94
Any updates in #97 ? I would really appreciate if it got merged.

[2019-08-20 10:12] alxwrd opened #101 "Dropping Python 2 support"
Python 2 end of life is fast approaching. https://pythonclock.org/.

Textstat currently supports Python 2 and 3. However, the plan will be to drop support for Python 2 at some point. This means some compatibility code can be removed.

- [ ] Replace [`repoze.lru`](https://github.com/repoze/repoze.lru) with builtin [`functools.lru_cache`](https://docs.python.org/3/library/functools.html#functools.lr

[2019-08-22 09:02] GuillemGSubies commented on #94
I'm interested in adding [this](http://corpus.rae.es/lfrecuencias.html) list of frequencies (easy words) for Spanish language (it comes from the Spanish Language Academy). However I don't know how many of them I should add. For what I have seen, the English easy words you use here is 3k words more or less.

Any thoughts?

[2019-09-03 07:52] kishiyamat commented on #76
@alxwrdHere @akarsh3007 Here is my [PR](https://github.com/shivam5992/textstat/pull/102)

[2019-10-02 14:57] #76 closed

[2019-12-03 05:55] DonaldTsang opened #105 "Dutch KPC/AVI"
See https://github.com/wimmuskee/readability-score

[2019-12-03 05:57] DonaldTsang opened #106 "Spache Formula"
See https://github.com/DaveChild/Text-Statistics

[2019-12-03 06:06] DonaldTsang opened #107 "Reading Time"
See https://github.com/sahava/readability-score-javascript

[2019-12-03 06:09] DonaldTsang opened #108 "SMOG score vs SMOG index?"
Check out https://github.com/ipeirotis/ReadabilityMetrics for some information

[2019-12-03 06:12] DonaldTsang opened #109 "Spanish Readability Support"
There are a lot of measures in https://github.com/amunozf/legibilidad maybe it is possible to port them directly?
Also https://github.com/dmarman/lorca#ifsz-index

[2019-12-03 06:26] DonaldTsang opened #110 "Dickes-Steiwer, Farr-Jenkins-Paterson, Wheeler-Smith etc."
See https://github.com/benmarwick/wordcountaddin/blob/master/README.md#readability
- [ ] Danielson-Bryan DB1
- [ ] Danielson-Bryan DB2
- [ ] Dickes-Steiwer
- [ ] ELF
- [ ] Farr-Jenkins-Paterson
- [ ] Fucks
- [ ] nWS1
- [ ] nWS2
- [ ] nWS3
- [ ] nWS4
- [ ] Strain
- [ ] TRI
- [ ] Tuldava
- [ ] Wheeler-Smith

[2019-12-03 06:30] DonaldTsang opened #111 "Bormuth, Coleman, Danielson.Bryan, ELF, FORCAST etc."
https://github.com/quanteda/quanteda/blob/master/R/textstat_readability.R#L22

[2019-12-03 06:32] DonaldTsang opened #112 "Powers-Sumner-Kearl"
See https://github.com/ghoulmann/py-readability-statistics/blob/3dfdc422dc37cffcd2cb99ff47772c18b2670055/web/cgi-bin/web_readability.py#L138

[2019-12-03 06:42] DonaldTsang opened #113 "German Readability support"
Wiener_Sachtextformel
https://github.com/chartbeat-labs/textacy/blob/master/textacy/text_stats.py#L315

[2019-12-03 06:43] DonaldTsang opened #114 "Italian Readability Support"
Indice Gulpease
https://github.com/chartbeat-labs/textacy/blob/master/textacy/text_stats.py#L347

[2019-12-03 07:09] DonaldTsang opened #115 "Arabic readability port"
Check https://github.com/drelhaj/OsmanReadability but ported to Python.

[2019-12-03 08:15] DonaldTsang opened #116 "Japanese readability port?"
https://github.com/cskau/readability/blob/master/tateisi.py has a script that does Japanese.
Maybe it would be a good idea to include this?

[2019-12-03 16:09] DonaldTsang commented on #116
What about these?
- https://github.com/cskau/readability
- https://github.com/JaehyunSong/JPreadable
- https://github.com/JaehyunSong/obi
- https://github.com/asaokitan/jreadability

[2019-12-12 15:38] pratiksha-cobiro opened #117 "'textstatistics' object has no attribute 'set_lang'"
I am using textstat==0.5.6 for flesch_reading_ease
I am using non English text and getting this error.

On downloading the zip I see that set_lang is not there in class textstatistics

When will there be new release which will have set_lang method

[2020-01-03 07:14] Rexfarell opened #118 "conda install -c mlgill textstat not working"
When trying to install textstat via conda I get an error: The package in not available from the current channels.

[2020-01-03 22:23] alxwrd commented on #118
Hi Rexfarell 👋

Thanks for raising this.

I'm not too familiar with Anaconda, could you provide the full output of the command `conda install -c mlgill textstat`?

It would also be worth noting that the version of textstat at [https://anaconda.org/mlgill/textstat](mlgill/textstat) is `v0.3.1`, which at this point is three years old, and seems to be managed by a third party.

[2020-01-04 06:55] Rexfarell commented on #118
thank you for your reply,

I screen captured the output:

[image: image.png]

Le sam. 4 janv. 2020 à 07:24, Alex Ward <notifications@github.com> a écrit :

[2020-01-04 20:20] alxwrd commented on #118
hi @Rexfarell, the email hasn't posted the image to github correctly.

[2020-01-04 20:53] #101 closed

[2020-01-04 21:40] alxwrd commented on #117
hi @pratiksha-cobiro 👋

Thank you for raising this.

I have just released versions 0.5.7 (Python2) and 0.6.0 (Python3) onto PyPi. These versions contain limited support for non-English text.

[2020-01-04 21:40] #117 closed

[2020-01-04 22:06] alxwrd commented on #101
Happy new year 🎉!

I'm pleased to announce that in line with the [official Python implementation](https://www.python.org/dev/peps/pep-0373/), Python 2.x is no longer supported by textstat.

The final version of textstat to support Python 2.7 is [`0.5.6`](https://github.com/shivam5992/textstat/releases/tag/0.5.7) (commit id [`35bfbb20e9d2ec8501e4ca2b0ee0c86df43f9c60`](https://github.com/shivam5992/

[2020-01-04 22:08] alxwrd commented on #107
hi @DonaldTsang

Thank you for raising this 🎉. An implementation of reading time has been implemented in #102.

[2020-01-04 22:08] #107 closed

[2020-01-04 22:12] alxwrd commented on #106
hi @DonaldTsang

Thanks for raising this. This seems to already be implemented [here](https://github.com/shivam5992/textstat/blob/9c6eded93638217c6ffb2c3d52e0ea8c704b1e75/textstat/textstat.py#L402).

[2020-01-04 22:12] #106 closed

[2020-01-04 22:51] alxwrd commented on #108
hi @DonaldTsang

Thanks for raising this 🎉.

I've been looking at the implementation in the repo linked, and while there is a difference between SMOG and SMOG Index, the implementation seems to be wrong.

The Wikipedia page [SMOG_Index](https://en.wikipedia.org/wiki/SMOG_Index) redirects to [SMOG](https://en.wikipedia.org/wiki/SMOG).

---

Below is the **SMOG** formula, which textstat currently im

[2020-01-04 22:59] alxwrd commented on #118
Note to myself: Should we also release to Anaconda officially?

[2020-01-04 23:06] alxwrd commented on #94
hi @GuillemGSubies, sorry I forgot to respond to this!

I'm happy for Spanish words to be added for Spanish language support. I'm not sure how many should be included though as I'm not sure of the original source of the English word list used in textstat. @shivam5992, I'm not sure if you remember?

I'm not sure if any of the papers that introduce the formulas that use "easy" or "difficult" words r

[2020-01-05 02:37] Rexfarell commented on #118
Here it goes, hopefully you'll be able to see it this time.

ps:You are not asking me, but not releasing for Anaconda seems really
strange.

Le dim. 5 janv. 2020 à 07:59, Alex Ward <notifications@github.com> a écrit :

[2020-01-05 04:53] DonaldTsang commented on #106
Please update the documentation if that is the case, thank you for your attention.

[2020-01-05 04:53] DonaldTsang commented on #107
Thanks, please update the docs.

[2020-01-05 04:55] DonaldTsang commented on #108
Yeah that would be good, since we are making a breaking change here.

[2020-01-05 10:37] alxwrd commented on #118
Sorry, it still isn't posting. Might be best to log onto Github and add an image through the site.

[2020-01-05 16:46] alxwrd opened #119 "Conda release"
Will require conda to be installed, the minimal installer can be found here: https://docs.conda.io/en/latest/miniconda.html. After installation, turn off auto base with `conda config --set auto_activate_base false`.

Tutorial for building packages here: https://docs.conda.io/projects/conda-build/en/latest/user-guide/tutorials/build-pkgs.html

[2020-01-05 16:47] alxwrd commented on #118
I've created #119 to investigate the possibility of a conda release at some point.

[2020-01-06 01:49] Rexfarell commented on #118
![image](https://user-images.githubusercontent.com/42093317/71790121-10886280-3072-11ea-8da4-04c1fa98044c.png)

[2020-01-06 01:57] Rexfarell commented on #118
![image](https://user-images.githubusercontent.com/42093317/71790335-3bbf8180-3073-11ea-90ba-4938eff4eca0.png)

[2020-01-06 08:57] alxwrd commented on #118
hi @Rexfarell it appears that the current conda release for textstat is only available for Linux and macOS. You can see at the distribution channel for that user for Windows is almost empty compared to the distribution channel for Linux.

https://conda.anaconda.org/mlgill/win-64
https://conda.anaconda.org/mlgill/linux-64

I've raised #119 to look into officially releasing to conda in the future. F

[2020-01-06 08:57] #118 closed

[2020-01-08 10:14] GuillemGSubies commented on #94
@alxwrd I created a PR to discuss my implementation #120. Should I add the source of the easy_words file? If so, how?

[2020-01-08 12:02] alxwrd commented on #94
@GuillemGSubies I think if you just add the source here, for now, that would be good. I'm thinking over how to manage multiple languages going forward, including testing.

[2020-01-08 12:07] GuillemGSubies opened #121 "Outdated README.md"
There are some new functions added on 0.5.7 that are not in the README.md so the user has to read the code in order to know that they exist. The ideal would be having them all in the README with the others

[2020-01-08 12:09] GuillemGSubies commented on #94
http://corpus.rae.es/lfrecuencias.html It is the Spanish language academy

[2020-02-06 21:40] mwilson8 commented on #119
Just opened https://github.com/conda-forge/staged-recipes/pull/10785 for a conda release through the conda-forge channel. @alxwrd would you consider being a maintainer on that package?

[2020-02-06 23:15] alxwrd commented on #119
@mwilson8 sure.

I'm not sure what that entails though, so if you could let me know what it looks like when textstat releases a new version?

[2020-02-07 15:54] mwilson8 commented on #119
Basically every time a new version is released, conda forge has a bot that will push an update to the feedstock; a maintainer merges that after the checks have passed, or makes necessary changes if some checks fail

[2020-02-13 15:51] alxwrd commented on #118
hi @Rexfarell, @mwilson8 has done the work conda-forge/staged-recipes#10785 here to get textstat into conda forge.

https://anaconda.org/conda-forge/textstat

[2020-02-13 15:52] alxwrd commented on #119
hi @mwilson8, I see conda-forge/staged-recipes#10785 has been merged. Should I close this issue?

[2020-02-14 17:55] mwilson8 commented on #119
Yes; the merge into conda-forge was a no-arch platform, should fix any conda release issue

[2020-02-16 11:08] #119 closed

[2020-02-16 11:09] alxwrd commented on #119
excellent, thank you 🎉

[2020-03-14 00:28] BradleyMerrillT opened #124 "Flesch-Kincaid Grade Level"
The documentation explains that the code "Returns the Flesch-Kincaid Grade of the given text. This is a grade formula in that a score of 9.3 means that a ninth grader would be able to read the document."  But when I run the code on text I have, the scores are all in the 90s.  Indeed, the results are very similar to the Flesch Reading Ease Score.  Am I doing something wrong, or is there an error in

[2020-03-14 14:21] alxwrd commented on #124
hi @BradleyMerrillT, thanks for raising this 🎉

Could you have a look at #91 and #77? It seems like you might have a similar issue.

Currently, textstat expects text to be "cleaned" and well-formatted to provide a proper result.

[2020-03-14 23:34] BradleyMerrillT commented on #124
Thanks @alxwrd .  Article 77 seems helpful.  I am reading product reviews, and the punctuation is terrible.

[2020-03-14 23:34] #124 closed

[2020-04-09 11:35] giampaolo44 opened #125 "Amend the pypi.org docs"
Sorry to post it here. I checked if I could amend directly the docs at pypi but did not find the way. Am available to do it myself if you point me in the right direction.

In the [pypy docs](https://pypi.org/project/textstat/) it (still?) signals to use `textstat.set_language(lang)` instead that the correct `textstat.set_lang(lang)`.

In addition or as substitute to changing the docs maybe placing

[2020-04-22 08:05] alxwrd commented on #125
hi @giampaolo44, thank you for raising this! 🎉

I've pushed version [0.6.1](https://pypi.org/project/textstat/0.6.1/) to PyPI which will resolve this.

[2020-04-22 08:05] #125 closed

[2020-04-23 16:59] alxwrd opened #126 "CI process should install package"
Release `0.6.1` was missing resource files. The CI process currently just tests the package as is, it should install the package using `setup.py` and test that.

[2020-05-30 20:20] alxwrd commented on #77
Could adding https://github.com/jfilter/clean-text help with this?

[2020-06-02 23:25] TiredFalcon commented on #73
The Dale-Chall readability formula does not use syllables counts to identify difficult words, but only the easy_words list.

Therefore, the count of easy words for Dale-Chall should be computed with:

[code]

[2020-06-03 09:40] alxwrd opened #127 "Update Dale-Chall readability formula"
from @TiredFalcon

Need to update `dale_chall_readability_score()`.

https://en.wikipedia.org/wiki/Dale%E2%80%93Chall_readability_formula

[2020-06-03 09:41] alxwrd commented on #73
@TiredFalcon thank you for this! :tada: I've raised #127.

[2020-07-17 22:06] #109 closed

[2020-08-10 03:13] DonaldTsang opened #131 "McAlpine EFLAW"
https://strainindex.wordpress.com/2009/04/30/mcalpine-eflaw-readability-score/

[2020-08-10 03:19] DonaldTsang commented on #112
Something like
`(0.0778` * self.avg_sentence_length(text)) + .0455 * (100 * (self.syllable_count(text)/self.lexicon_count(text))) - 2.2029`
?

[2020-08-10 03:30] DonaldTsang commented on #110
This source uses the library from https://github.com/shivam5992/textstat/issues/111

[2020-08-10 03:45] DonaldTsang commented on #111
Some info https://quanteda.io/reference/textstat_readability.html
The documentation in koRpus does not explain the equations, which I would ask for help.

[2020-08-10 04:49] DonaldTsang opened #132 "Lorge Index (used before Flesch and Dale-Chall)"
For historical reference, not a priority.

[2020-10-23 10:40] AndrewMartchenko opened #134 "Sentence count fails when there are more than one new line characters between sentences"
When two sentences are separated by a full stop and more than one new line characters, the sentence count function detects this as one sentence.
For example, the following will return a count of 1:
`count = textstat.sentence_count('Sentence one.\n\nSentence two.')`

Edit:
Any two white spaces cannot be used after a full stop to separate sentences.

[2020-10-23 11:07] alxwrd commented on #134
Hi @AndrewMartchenko! Thank you for raising this.

Currently, textstat expects well-formatted text as input.

There is some work to be done here. We currently have #77 open that is mainly about _no_ spaces between sentences but I guess this applies as well.

The culprit for this instance is [here](https://github.com/shivam5992/textstat/blob/master/textstat/textstat.py#L162).

I suspect count _one

[2020-10-25 01:47] AndrewMartchenko commented on #134
Hi @alxwrd, Thank you for the quick response.

I find the following a bit more forgiving:
` sentences = re.split(r' *[.\?!][\'"\)\]]*\s+(?=[A-za-z\d])', text)`

It allows for any white space between sentences and it also allows for sentences to begin with lower case characters and numerals.

Perhaps it may be useful make these features optional by adding flags to `sentence_count`.

[2020-11-17 10:36] alxwrd commented on #134
I'm closing this issue in favour of #77.

[2020-11-17 10:36] #134 closed

[2020-12-08 03:37] ykkhan opened #136 "Can we use this algorithm on other language."
As our work is based on the Urdu language. Can we apply this algorithm (Flesch reading, gunning fog etc) to the Urdu language?

[2020-12-08 08:04] alxwrd commented on #136
Hi @ykkhan, unfortunately the research behind most of the indexes were based on the English language. I don't know how well, if at all, they would work in other languages.

There's current #94 open to track language support for textstat.

If you know of any research for algorithms for Urdu, please feel free to respond here or open a new issue with a link to the paper.

[2020-12-08 08:04] #136 closed

[2021-02-06 12:33] nikchha opened #137 "Update documentation with maximum Value of text_standard()"
Hi,

I would like to use the text_standard() method to calculate readability for a large document base. I would like to reverse-code the index so that larger values indicate better readability. The simplest way I could come up with is to use the maximum value of the function and subtract each method result.

Would it be possible to add the maximum value of text_standard() (and perhaps the other in

[2021-02-07 14:22] alxwrd commented on #137
Hi @nikchha, thank you taking the time to raise an issue.

I'm not sure what you're requesting is practically possible. The output for
the formulas will increase with difficultly because any given text could
always be made more 'difficult', but the lowest scoring text could never be
made 'easier'.

"The cat sat on the mat"

"The feline perched in the center of the floor covering"

The first exampl

[2021-02-08 22:19] nikchha commented on #137
Hi @alxwrd

Thank you very much for your quick reply.
I was just under the impression that there must be an upper bound for difficulty values.
However, if this is not the case I am sorry for raising the question.

Best,
Niklas

[2021-02-10 13:20] alxwrd commented on #137
I think you're right that there probably is an upper bound for text difficulty. A certain piece of purposefully complex text might not be of any use to anyone, but I don't think textstat can make the determination of the ceiling.

If you want to reverse the result of `.text_standard`, the best thing might be for you to choose your own cut off point.

[code]

[code]

If your cut off is the 15th gra

[2021-02-10 13:22] alxwrd commented on #137
I'm going to close this issue because I don't think there's anything for textstat to implement/change.

I'm not closing the conversation though. If there's more you want to add or discuss, please feel free to do so 🙂

[2021-02-10 13:22] #137 closed

[2021-05-30 20:46] AjBreidenbach opened #139 "The sentence count regex only checks Latin characters"
This means Russian is not supported for flesch_reading_ease because the average sentence length is calculated incorrectly.

[2021-05-31 07:19] GuillemGSubies opened #140 "Zero division error with new spanish formulas"
If I use:

[code]

It will all raise an error because `total_words` is `0`. I can make a PR to solve it.

I think that the ideal solution would be catching the error, raising a warning and returning a `0`. Letting the division error raise, can be problematic.

[2021-06-10 09:10] #127 closed

[2021-06-10 09:15] alxwrd commented on #139
Hi @AjBreidenbach, thank you for raising this. You're right, the look ahead `?=[A-Z]` should probably be `?=[w]`, or similar.

Do you have an example where this isn't working as expected for a failing test case? If you could add it here, or raise a pull request with a failing test, that would be great.

[2021-06-10 09:17] alxwrd commented on #140
@GuillemGSubies thank you for raising this. Yes, I think you are right. There are other examples where `ZeroDivision` errors can occur, and in those cases we return `0`. If you can raise a PR to address this that would be great!

[2021-06-10 15:52] GuillemGSubies commented on #140
Here it is #144

[2021-06-11 15:13] AjBreidenbach commented on #139
Just taking a look at a regex inspector, I guess there would need to be a case-sensitive version of ?=[\w]

Would it be worth considering having the sentence count regex be a property that could be set on the texstat object, similar to `set_lang`?  My own use cases involve processing some messier texts.

[2021-06-17 06:00] lukaschoebel opened #146 "Support for type hints"
In order to conform to [PEP484](https://www.python.org/dev/peps/pep-0484/), it is beneficial to explicitly type the arguments and return types of functions.

This issue might be lower priority but would help users to prevent pitfalls in the future.

[2021-06-24 08:46] AjBreidenbach commented on #139
I made another fork to get on with my project.  This is what I did to get it implemented https://github.com/AjBreidenbach/bvtextstat/commit/daab1d2242e3f37a20c0b6a08e9ed7eaf2429d6b
It sets the regex for Russian when set_lang is used to switch to Russian.
It just breaks the readability test, because the regex I used ignores Latin characters

[2021-06-24 10:20] #113 closed

[2021-06-24 10:30] alxwrd opened #148 "Move to GitHub actions"
Travis is rejecting builds for some reason. I suspect it's something to with the changes at Travis around free plans.

Will probably just be easier to switch to GitHub actions.

[2021-06-24 10:30] #114 closed

[2021-06-24 10:51] #115 closed

[2021-06-24 10:54] alxwrd commented on #139
@AjBreidenbach, sure. I'll drop the diff below for reference later.

I'm meaning to do some work around language support, but I'm not 100% on the best implementation so it's been on the back burner for a long time. More use cases like this help though!

[code]

[2021-06-24 10:57] alxwrd commented on #146
Definitely. With Python 3.5 out of support now, I would expect all consumers of the library to be on a version of Python that supports type hinting.

[2021-06-24 11:25] #140 closed

[2021-08-04 05:43] lclarko commented on #121
I can take this. Reading through the code leads me to believe that the functions should be grouped under separate headings, one for Averages & Aggregations, and another for scoring functions (reading ease, grade, indexes, etc.). There's also several difficult/easy word identifiers, which could be grouped together. Thoughts?

[2021-08-10 08:59] #121 closed

[2021-08-11 11:28] LKirst opened #150 "Inflections and the Dale-Chall-Formula"
The textstat implementation of the Dale-Chall-Formula classifies several words as difficult words that the original Dale-Chall-Formula would not. For example, _Scotland, returned, giants, giant's, strongest_ are returned as part of `textstat.difficult_words_list(text)`, even though the base forms _return, giant, strong_ are all part of [the easy words list](textstat/resources/en/easy_words.txt).

[2021-08-11 15:51] alxwrd commented on #150
Hi @LKirst, thank you for raising this!

We currently have an open issue (#73) touching on difficult word usage. We currently have 4 methods/metrics that use `difficult_words`:

- dale_chall_readability_score
- gunning_fog
- spache_readability
- dale_chall_readability_score_v2

Maybe this area could do with a re-visit, and it doesn't make sense to use the same `difficult_words` method for everythi

[2021-08-11 19:07] alxwrd opened #152 "Typo in README.md"
The following 2 typos are in the README.

[code]

[2021-08-11 19:08] alxwrd opened #153 "Style issues"
Flake8 is reporting the following style issues.

[code]

[2021-08-11 19:12] alxwrd opened #154 "Dale chall readability score reporting wrong results"
The Dale chall readability score is failing a test. Not sure what the issue is, will need investigation

[code]

[2021-08-11 19:13] alxwrd opened #155 "Fernandez Huerta failing 'empty string' test"
Fernandez Huerta test expects an empty string to score 0.0, when it should score the max score of 206.84.

- Update `test_fernandez_huerta` to `assert score == 206.84`.
- Update `fernandez_huerta` to round to 2 places.

[code]

[2021-08-11 19:15] alxwrd opened #156 "Wienersachtext formula reporting wrong results"
The Wienersachtext formula is failing a test. The reported figure is wrong, and it appears to be missing rounding.

[code]

[2021-08-11 19:17] alxwrd opened #157 "Gulpease Index missing rounding"
Gulpease Index seems to be missing a `legacy_round` call.

[code]

[2021-08-11 23:04] LKirst opened #158 "`textstat.syllable_count(text)` doesn't split by newlines"
`textstat.syllable_count(text)` uses [`text.split(' ')`](https://github.com/shivam5992/textstat/blob/b492e7e71fe3e5ce54feafc7dc0de0975f664970/textstat/textstat.py#L156) to split words and therefore doesn't split words separated by a newline character. This shouldn't make a large difference, because the pyphen syllable count is often incorrect anyway, but it still introduces noise.

[2021-08-11 23:15] LKirst commented on #158
If I'm not mistaken, [`textstat.letter_count(text, ignore_spaces=True)`](https://github.com/shivam5992/textstat/blob/b492e7e71fe3e5ce54feafc7dc0de0975f664970/textstat/textstat.py#L115) also doesn't replace newline characters.

[2021-08-12 09:14] alxwrd commented on #153
Closed by #159

[2021-08-12 09:14] #153 closed

[2021-08-12 09:15] alxwrd commented on #148
Closed with #151

[2021-08-12 09:15] #148 closed

[2021-08-12 09:19] alxwrd commented on #158
Hi @LKirst, thank you for this.

I agree, especially as [`lexicon_count`](https://github.com/shivam5992/textstat/blob/c0e048db5cb1b612567116cab2b70f33a6a7f17c/textstat/textstat.py#L129) _does_ remove newlines using `split()`.

[2021-08-12 09:22] alxwrd commented on #158
- Update `syllable_count` to use `split()` and not `split(' ')`.
- Update `char_count` to ignore all white space as indicated by the doc string.
- Update `letter_count` to ignore all white space as indicated by the doc string.

[2021-08-12 10:12] kadatatlukishore commented on #152
Can I work on this @alxwrd

[2021-08-12 10:18] alxwrd commented on #152
Sure, feel free!

[2021-08-12 10:22] kadatatlukishore commented on #152
Thanks @alxwrd , just gave a PR please review

[2021-08-12 11:56] #152 closed

[2021-08-12 13:52] LKirst opened #162 "Rounding of all outputs"
Why does textstat round all numeric outputs? The user could always round the result, but they can not "unround" it.

[2021-08-12 19:18] #158 closed

[2021-08-12 19:34] alxwrd commented on #162
At this point, for backwards compatabilty. Textstat has pretty much _always_ rounded its outputs. [See this commit from 2014 - e874303dc](https://github.com/shivam5992/textstat/commit/e874303dc1175f4c5fbfdaaf18a4f4466fa9c256#diff-a2499e1f7f1c9a7c78e1dfb34cc55ce956cf0552119ee158228f6451ce1cc204R51).

I'm not against removing the rounding, but not until a major version release.

[2021-08-12 19:34] #162 closed

[2021-08-12 22:05] Clickedbigfoot commented on #156
#163 I added rounding to the function and added an extra test, but also had it call set_lang() to set Pyphen to German. It doesn't seem to calculate the correct syllables otherwise.
The extra test I added is a sentence I pulled from a German newsite

[2021-08-13 10:18] alxwrd commented on #156
Closed with #163

[2021-08-13 10:18] #156 closed

[2021-08-13 18:56] Clickedbigfoot commented on #155
Are we sure this is a bug? The scale would consider a score of 0 as supremely difficult to read and an empty string shouldn't be interpreted as that.
For reference, https://legible.es/blog/lecturabilidad-fernandez-huerta/ explicitly labels scores 0-30 as university level. A perfect score of 206.9 (The rounded constant in the equation) would be interpreted as a text devoid of any difficulty whatsoe

[2021-08-13 19:11] alxwrd commented on #155
I agree given _"0-30 | muy difícil"_. I will update the issue body.

[2021-08-14 23:29] Clickedbigfoot commented on #155
Changes were made with pull request #165 . The fernandez_huerta function in textstat was also corrected with 206.85 changed to 206.84

[2021-08-15 07:28] alxwrd commented on #155
Closed with #165

[2021-08-15 07:28] #155 closed

[2021-08-18 07:01] LKirst commented on #157
Fixed by #166

[2021-08-18 11:13] alxwrd opened #167 "Announcement: Textstat organisation"
Hello! I am very pleased to announce the creation of the Textstat GitHub organisation: https://github.com/textstat.

I have been reviewing the current state of Textstat, and recently there has been a lot of interest in additional language support. We've accepted a number of contributions to add Spanish, German, Italian, and Arabic!

However, as more languages are getting added, the core of Textsta

[2021-08-18 12:26] LKirst commented on #167
Great idea!

If there will be a language layer, we could try to use the CMU dictionary (imported from `nltk`) for the syllable count in the implementation for English because the CMU is more precise than the `pyphen` syllable count.

We could also use the migration to improve the documentation.

[2021-08-20 12:06] LKirst opened #169 "textstat.remove_punctuation(text) removes the dash in hyphenated words"
[`textstat.remove_punctuation(text)`](https://github.com/shivam5992/textstat/blob/c83d12353b120cdc1f43a446a797346de8d2ce00/textstat/textstat.py#L153) removes the dash in hyphenated words. The result is, that "Mexican-American" is returned as "mexicanamerican" and is counted as a 6 syllable word by `pyphen`, for all readability measures that depend on the syllable count.

It would probably make mor

[2021-08-20 22:05] alxwrd commented on #169
Hi @LKirst, thank you for raising this, but I'm not so sure about this one.

I think there's a couple of conflicting things here.

First, I think the method `remove_punctuation` should remove all punctuation, regardless of contractions or hyphenated words.

Second, I understand the sentiment behind the change for hyphenated words. I think the issue for `remove_punctuation` seems to be that it's us

[2021-08-20 22:16] alxwrd commented on #94
Just to tie this in, with [#167 Announcement: Textstat organisation](https://github.com/shivam5992/textstat/issues/167) other language support _should_ get a bit better.

[2021-08-21 18:38] #157 closed

[2021-08-24 12:43] LKirst commented on #169
I agree that the definition of what is a word is not trivial. I've removed the replacement of hyphens from the pull request.
Could you accept the pull request until your solution of keeping apostrophes replaces it?

[2021-08-24 18:19] #169 closed

[2021-08-24 22:39] #139 closed

[2021-08-24 22:39] #154 closed

[2021-08-24 22:46] alxwrd commented on #77
I've just merged #171 which includes a new sentence count. It addresses some issues that have been raised in this issue. I am also working on a new regex for [textstat/textstat-core](https://github.com/textstat/textstat-core) to address the edge cases.

[2021-08-26 23:49] elefantinerrrrs opened #173 "L2SCA"
Hi, I am interested in implementing an L2 Syntactic Complexity Analyzer for _textstat_. It automates the analysis of texts written by second language learners, which helps both researchers of L2 learners and L2 teachers in the classroom by providing 14 indices describing the syntactic complexity of the text.
The following calculations are necessary to implement the L2SCA:
- number of words
- ! num

[2021-08-28 00:03] Clickedbigfoot commented on #173
Indeed. I do not know if that is an acceptable expectation of a user of _textstat_, but I'm thinking of using [spacy](https://spacy.io/usage/linguistic-features#dependency-parse) instead. This still requires a download of a pretrained model, but I don't believe it would be acting as a server (And therefore wouldn't need any interaction outside of _textstat_ and the initial download):
`import spacy

[2021-08-29 04:42] LKirst opened #175 "Add documentation"
Most textstat methods still have no docstring. Should we add documentation in docstrings instead of just relying on the README?

Should we agree on a [template](https://queirozf.com/entries/python-docstrings-reference-examples) for docstrings?

[2021-08-29 04:54] LKirst commented on #173
Would it be feasible to give the user a choice of back end parsers? Then, experienced users could try to replicate the Lu (2010) results and refer to the paper to explain the measure they used.

[2021-08-29 22:32] alxwrd opened #176 "`words_matching` method"
_Originally posted by @alxwrd in https://github.com/shivam5992/textstat/pull/174#discussion_r698079246_

Just a thought currently, not fleshed out. It might be nice to have a `words_matching()` method, that takes a query like in [sqlalchemy](https://github.com/sqlalchemy/sqlalchemy).

[code]
I have no idea how the [`where`](https://docs.sqlalchemy.org/en/14/core/selectable.html?highlight=where#sql

[2021-08-29 22:43] #131 closed

[2021-08-29 23:09] Clickedbigfoot commented on #173
A choice would be nice. Ideally, both parsers would replicate the same scores as Lu (2010), but they would just pose different setup for the user and different implementation of how each parser is used within textstat (Lu has formal definitions for each counted syntactic structure that help count them from the parsed tree. I'm looking into if different, but similarly reliable formal definitions ca

[2021-08-30 06:38] GuillemGSubies commented on #167
Sounds good, maybe more details about the API would be interesting. Also it would be interesting to make texstat compatible with spacy Docs, so the generated analysis are extra properties of those objects

[2021-09-04 17:53] LKirst commented on #175
I've started adding Numpy docstrings (see #178). Maybe we could add docstrings to all functions and generate an API documentation with `pdoc3` that is more informative than the current documentation in the README file.

If you want to have a look at what documentation would look like, you can try out `pdoc --html --output-dir build textstat --config latex_math=True --force` and look at the html fi

[2021-09-05 03:47] Clickedbigfoot commented on #173
Without having looked into this as much as I would have liked to by now, I realize that spacy also includes [spacy.matcher](https://spacy.io/usage/rule-based-matching). This could solve the task of counting the meaningful units from the spacy parser without importing a separate package (Ex: Tregex) following an example [here for extracting verb phrases](https://stackoverflow.com/questions/47856247

[2021-09-16 04:19] BrandonKMLee commented on #173
Sounds good (thx for the tag BTW)

[2021-09-16 04:25] BrandonKMLee opened #179 "Documentation on Grade Level vs Age"
There is an ambiguity between Grade level and Recommended Age when it comes to UK vs US.
(Grade 1 US or Year 2 UK = 6 Years Old)
(Japan, Korea, and Hong Kong follows the US system)
![](https://archive.md/cLu7t/697032faaef9ea50a9fcc6812f3a205e103d0e8a.png)

[2021-09-26 07:26] LKirst opened #180 "Argument `interval` in `avg_syllables_per_word`"
I'm currently trying to add documentation to all textstat methods  (see #178). Can somebody tell me what the purpose of the `interval` argument is in the `avg_syllables_per_word`? The only place it is used is in the `flesh_reading_ease` function, where it is set to 100 if the language is in `['es', 'it']`.

[2021-09-27 07:57] alxwrd commented on #180
It appears to be an adjustment for the Flesch-Vacca and Fernandez Huerta Readability Formula added in #97.

[code]

It seems to be a way to adjust the syllable count to bring higher syllable languages into line with English. @lmaczulajtys, sorry for the ping about a 2 year old PR, but do you happen to remember the source for implementing the `interval`?

[2021-11-11 07:56] BrandonKMLee commented on #105
Reading this from https://github.com/wimmuskee/readability-score/blob/master/readability_score/calculators/nl/kpc.py

[2021-11-11 16:48] AmitHasanShuvo commented on #180
good going

[2022-03-14 19:32] Uettwillera opened #184 "New Version ?"
Hello,

Thanks a lot for the package! Super useful

I was wondering when the new version will come out.

At the moment, the github package is not the same as the one you would find on https://pypi.org/project/textstat/#files

For the sentence_count function, on github, you have:
`sentences = re.findall(r'\b[^.!?]+[.!?]*', text, re.UNICODE)`

On pypi, sentences is defined as
`sentences = re.split(r

[2022-03-15 22:00] alxwrd commented on #184
Released 0.7.3:
- https://github.com/shivam5992/textstat/releases/tag/0.7.3
- https://pypi.org/project/textstat/0.7.3/

[2022-03-15 22:00] #184 closed

[2022-03-16 09:50] Uettwillera commented on #184
Thanks a lot!

[2022-03-24 21:30] alxwrd commented on #108
I've been researching this to find the source for the formula on the Wikipedia.

- The formula was originally published in the [Journal of reading in 1969][1], and was optimised for mental calculation.
- The author posted a revised version on [his website][2], but it has since been removed.

The original paper calls it a "Smog Grade", so my feelings are Textstat should implement `smog()` and `smog

[2022-03-30 09:05] XyLearningProgramming opened #185 "Inconsistent result of `flesch_reading_ease()` between version `0.7.2` and `0.7.3`"
Here's the steps to reproduce this issue using `docker`:
1. grab and run any docker image that has no python package pre-installed and have python>=3.6, for instance
[code]
2. download `0.7.3`
[code]
3. run commands below, test with a sentence
[code]
5. download `0.7.2`
[code]
7. run the same commands as step 3
[code]
9. voila

Sorry for the long paragraph as the example. But it is that very text

[2022-06-12 15:21] Eeman1113 opened #186 "ImportError: cannot import name 'legacy_round' from 'textstat.textstat'"
so I am training to import legacy its not working on ether google colab or in m1 Mac even after installing all the libs needed <br>
This is my code:<br>
`import spacy
import textstat
from textstat.textstat import textstatistics<br>
from textstat.textstat import legacy_round`

This is my output:<br>
`Traceback (most recent call last):
  File "/Users/eemanmajumder/code_shit/dashboard_for_work.py", l

[2022-06-13 07:40] alxwrd commented on #186
Hi @Eeman1113,

Thank you for raising this. In the lastest release ([0.7.3](https://github.com/shivam5992/textstat/releases/tag/0.7.3)), the function `legacy_round` was moved to be a private memeber of the `textstatistics`.

https://github.com/shivam5992/textstat/blob/9aab97cd832f67b7c6f198ae87b0ff4f566ecb4b/textstat/textstat.py#L106-L133

As a work around you can:

[code]

The function `legacy_ro

[2022-06-13 07:40] #186 closed

[2022-06-13 07:50] Eeman1113 commented on #186
hey thanks man

[2022-06-16 01:49] LazyG commented on #185
I can confirm I'm also encountering this issue inside a docker container on 0.7.2.

[2022-06-16 16:07] wangxuan123123 opened #187 "any support for chinese?"

[2022-07-01 19:07] alxwrd commented on #187
Hi @wangxuan123123, currently textstat doesn't provide any support for Chinese.

If you are able to provide reference to any research around readability for Chinese, then it is something that could may be considered.

[2022-07-01 19:11] alxwrd commented on #185
Hi @XyLearningProgramming, thank you for raising this. Sorry I haven't had chance to investigate it yet.

Some changes between 0.7.2 and 0.7.3 that could be responsible for the change in score:
- Update syllable_count to use `.split()` and not `.split(' ')` so to split on all whitespace. https://github.com/shivam5992/textstat/pull/161
- Fix issue with `remove_punctuation()`. https://github.com/shi

[2022-07-04 07:02] XyLearningProgramming commented on #185
Thanks for looking into this... So, to my understanding, there are some word-splitting & punctuation related changes possibly causing this issue. Since they are all "improved" towards performing the tasks in the intended way, can I say the reading ease score is more accurate, even though the score is different in different versions?
Also, feel free to close this issue if you investigate it and thi

[2022-07-11 12:36] alxwrd commented on #185
That's correct. As we make these changes, the hope is we're moving towards more accurate scores.

I'll close this issue, but if you find something wrong, feel free to open it or raise a new one.

[2022-07-11 12:36] #185 closed

[2022-07-19 04:48] dogweather commented on #150
I believe this is a problem that [stemming](https://medium.com/@tusharsri/nlp-a-quick-guide-to-stemming-60f1ca5db49e) solves. E.g.:

1. The Dale and Chall wordlist is converted to a set of the stems of the words.
2. An input text's words are each mapped to their stem.
3. Each word is then judged to be simple if its stem is in the Dale and Chall stem list.

[2022-07-19 11:41] LKirst commented on #150
Great idea. Could we separate regular inflection from irregular word formation using an NLTK stemmer?
Could you implement your solution?

[2022-07-19 23:15] dogweather commented on #150
Totally — I'll start a PR. I'll look into what NLTK supports. I can imagine providing options for the kinds of inflections accepted.

[2022-07-19 23:34] dogweather commented on #150
I found a good conversation with links to a similar idea implemented in Javascript:

* https://githubmemory.com/repo/words/dale-chall-formula/issues/15
* [Dale and Chall's notes on stemming](http://www.lefthandlogic.com/htmdocs/tools/okapi/okapimanual/dale_challWorksheet.PDF)

[2022-07-20 05:21] dogweather opened #191 "Dale-Chall v2 has error in logic"
This code:

[code]

should be:

[code]

I've fixed it locally, but I'd like to get a decision on this PR #190  before submitting another.

[2022-07-20 05:27] dogweather opened #192 "Logic bug in difficult_words_list()"
I noticed this bug when I saw that scores change if I simply duplicate an input text to make it twice as long.

Each difficult word is only counted once, no matter how many times it occurs in the text. This is wrong, because the algorithms need to compute, e.g., difficult word count / total word count. This bug is causing many of the scores to be off. This tests for the problem:

[code]

[The bug

[2022-07-20 22:24] dogweather commented on #73
Note also, `difficult_words()` only returns the count of _distinct_ difficult words, not the total in the text. IMO this is a bug: #192 #193

[2022-08-06 12:17] #167 closed

[2022-10-23 00:31] advancejar opened #194 "[Bug]: The abnormal of flesch_reading_ease"
### Operating system

Windows

### Download source

PyPi

### Python distribution

CPython

### Python version

Python 3.9.6

### What happened?

[code]

the output below:

[code]

### Other information

<details>
<summary>Analysed text</summary>

LOVE OR MONY
1 Chapter
　　The Clarkson family lived in the country near Cambridge，about half a mile from the nearest village and about a mile from the ri

[2022-10-26 07:51] #194 closed

[2022-11-29 11:56] stribor14 opened #195 "[Bug]: Wrong syllable count"
### Operating system

Linux

### Download source

PyPi

### Python distribution

Anaconda

### Python version

Python 3.9.6

### What happened?

When checking the results, some interesting stuff came to my attention. I was checking the return value of `difficult_words` for single-word inputs. To skip the part of reading through code, checking the easy_word_list in resources, etc. Here is what I fo

[2022-11-29 13:23] LKirst commented on #195
That's probably an issue with Pyphen because textstat uses [Pyphen](https://pypi.org/project/pyphen/) to count syllables.